<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nwsuaf.edu.srms.dao.UserPlatMapper" >
  <resultMap id="BaseResultMap" type="cn.nwsuaf.edu.srms.entity.UserPlat" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="plat_id" property="platId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, plat_id, user_id
  </sql>

	<select id="selectIdsByManager" resultType="java.lang.Integer">
		SELECT plat_id
		FROM user_plat
		WHERE user_id = #{userId}
	</select>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_plat
    where id = #{id,jdbcType=INTEGER}
  </select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_plat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.nwsuaf.edu.srms.entity.UserPlat" >
    insert into user_plat (id, plat_id, user_id
      )
    values (#{id,jdbcType=INTEGER}, #{platId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.nwsuaf.edu.srms.entity.UserPlat" >
    insert into user_plat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="platId != null" >
        plat_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="platId != null" >
        #{platId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.nwsuaf.edu.srms.entity.UserPlat" >
    update user_plat
    <set >
      <if test="platId != null" >
        plat_id = #{platId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.nwsuaf.edu.srms.entity.UserPlat" >
    update user_plat
    set plat_id = #{platId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>